section.contact-us .icon-envelope {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8;
}

section.contact-us h1.title {
  color: var(--title);
  margin-bottom: 1.4rem;
  font-size: 2.1rem;
}

section.contact-us .sub-title {
  color: var(--subtitle);
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

section.contact-us label {
  color: var(--subtitle);
}

section.contact-us #message,
section.contact-us #email {
  all: unset;
  background-color: rgb(63, 63, 70, 0.15);
  border: 1px solid rgb(63, 63, 70);
  width: 19rem;
  padding: 0.9rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.1rem;
}

.light section.contact-us #message,
.light section.contact-us #email {
   background-color: rgba(255, 255, 255, 0.162);
    color: #141414ec;
    border: 1px solid rgba(128,128, 128, 0.451);
    box-shadow: 1px 1px 1px rgba(73, 73, 75, 0.105);
  }


section.contact-us #message:focus,
section.contact-us #email:focus ,
section.contact-us #message:hover,
section.contact-us #email:hover{
  border: 1px solid rgb(45, 212, 191);
}
.light section.contact-us #message:focus,
.light section.contact-us #email:focus ,
.light section.contact-us #message:hover,
.light section.contact-us #email:hover{
  border: 1px solid rgb(78, 80, 80);
}



section.contact-us #message {
  min-height: 9rem;
  resize: vertical;
}

section.contact-us .submit {
  background-color: rgb(36, 37, 46, 1);
  padding: 0.75rem 1rem;
  width: 5.9rem;
  text-align: center;
  text-transform: capitalize;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 1.03rem;
  transition: 0.3s;
  margin-top: 1.8rem;
  border: 1px solid rgb(63 63 70);
  transition: 0.3s;
}
.light section.contact-us .submit {
  background-color: #020202;
}

section.contact-us .submit:hover {
  opacity: 1;
  scale: 0.97;
}

@media (max-width: 600px) {


  section.contact-us form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  section.contact-us .flex {
    flex-direction: column;
    gap: 0.9rem;
    align-items: start;
    justify-content: center;
  }
  section.contact-us #message,
  section.contact-us #email {
    width: 80%;
    margin-left: 0;

    margin-bottom: 1.5rem;
  }
  section.contact-us .submit {
    align-self: center;
    width: 7rem;
    margin-right: 10%;
  }
}

@media (max-width:1250px){
section.contact-us .animation {
  display: none;
}  
}
